doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Admin Login - CraftSmart
    link(rel='stylesheet', href='/css/admin-login.css')
    script(src='https://cdn.tailwindcss.com')
  body
    .login-container
      h2 CraftSmart Admin Login

      if error
        p.text-red-500 #{error}

      form#loginForm(method='POST', action='/admin-login')
        .mb-4
          label(for='username') Username
          input#username(type='text', name='username', required)
        .mb-6
          label(for='password') Password
          input#password(type='password', name='password', required)
        button(type='submit') Login

    script(src='/js/login.js')
