doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title User Login - CraftSmart
    link(rel='stylesheet', href='/css/user-login.css')
    script(src='https://cdn.tailwindcss.com')
  
  body
    .login-container
      h2 User Login

      form(action='/login', method='POST')
        .mb-4
          label(for='username') Username
          input#username(type='text', name='username', required)

        .mb-4
          label(for='password') Password
          input#password(type='password', name='password', required)

        .mb-4
          label(for='role') Login as:
          select#role(name='role', required)
            option(value='') -- Select Role --
            option(value='employer') Employer
            option(value='craftsman') Craftsman

        button(type='submit') Login

      if error
        p.text-red-500.mt-4.text-center #{error}
